@import url('https://fonts.google.com/specimen/Inter');

:root {
    --Off-white: hsl(36, 100%, 99%);
    --blue: hsl(233, 8%, 79%);
    --Darkgrayish : hsl(236, 13%, 42%);
    --Very-dark-blue: hsl(240, 100%, 5%);

    
}
body{
    font-family:  'Inter', sans-serif;
}
.text{
    color: var(--Darkgrayish)!important;
    font-size: 15px;
}
.fs-1{
    color: var(--Very-dark-blue) !important;
    font-weight: 500;
}
.fs-2{
    color: var(--blue)!important;
}
 .btn{
   background-color:var(--Very-dark-blue) !important;
   color: var(--Off-white)!important;
   border-radius: 0 !important;
}
.btn:hover{
    background-color: hsl(5, 85%, 63%) !important ;
    color: var(--Off-white) !important;
}
.card-title{
    color: hsl(35, 77%, 62%) !important;
}
p{
    color: var(--Off-white)!important;
}
.card{
    background-color: var(--Very-dark-blue) !important;
    border-radius: 0 !important;
}
.card-text{
    color: var(--blue)!important;}
    hr{
        color: var(--blue) !important;
    }
    a:hover{
       color:hsl(5, 85%, 63%) !important ;
    }
    h5.text{
        color: var(--Very-dark-blue)!important;
        
    }
    h5.text:hover{
        color:hsl(5, 85%, 63%) !important ;
    }
    p.main:hover{
        color: hsl(35, 77%, 62%) !important ;
    }
